/* All color of site */
:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --all-text-color: #757575;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --contacts-bottom-color: #8f8f94;
}
body {
  /* color: var(--primary-white-color); */
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  /* letter-spacing: 0.02em;
  letter-spacing: 0.06em; */
}

/* Styles for index.html */

/* Header */

/* Logo styles */
.logo {
  font-family: "Raleway", sans-serif;
  /* position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px; */
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo .logo-blue {
  color: var(--accent-color);
}
.logo .logo-black {
  color: var(--primary-black-color);
}
/* Navigation */
.navigation-list .nav-items {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-items:hover,
.nav-items:focus {
  color: var(--accent-color);
}
/* Contacts Email tel Top */
.contacts-top .top-items {
  color: var(--title-text-color);
}
.contacts-top .top-items:hover,
.contacts-top .top-items:focus {
  color: var(--accent-color);
}
/* Main content */

/* Унаследование кнопкой фонт фемили */
button {
  font-family: inherit;
}
/* Engage section */
.title-engage {
  color: var(--title-text-color);
}
.engage-text {
  color: var(--all-text-color);
}
.collecting-title {
  color: var(--title-text-color);
}
/* Our team */
.full-name-title {
  color: var(--title-text-color);
}
.profession-team {
  color: var(--all-text-color);
}
/* Footer */
.contact-bottom .bottom-item {
  color: var(--contacts-bottom-color);
}

/* Styles for portfolio.html */

/* Our work section */
.our-work-title {
  color: var(--title-text-color);
}
.our-work-text {
  color: var(--all-text-color);
}
